ul {
  list-style: none;
}

header nav ul,
footer nav ul {
  display: flex;
  gap: 2rem;
}

header nav ul {
  justify-content: right;
}

footer nav ul {
  justify-content: center;
}

.avatar {
  max-width: 3rem;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.avatar:hover {
  transform: scale(1.2); /* Enlarge the avatar on hover */
}

a {
  color: rgb(198, 204, 214);
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease-in-out; /* Add a smooth color transition effect */
}

a:hover {
  color: rgb(29, 69, 150); /* Darken the color on hover */
}

.genre::after {
  content: ',';
  transition: opacity 0.3s ease-in-out; /* Add a smooth opacity transition effect */
}

.genre:hover::after {
  content: '';
  opacity: 0.7; /* Reduce opacity on hover */
}
